
  
  .cards {
    text-align: center;
    background-color: rgb(243, 194, 0);
    padding-top: 30px;
    padding-bottom: 80px;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 30px;
    min-height: 100vh;
  }
  
  .card {
    width: 30%;
    height: auto;
    margin: 10px;
    padding: 0;
    border: 1px solid #ddd; /* Optional: Add a border for better visualization */
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05); /* Increase the scale value for a slightly bigger appearance */
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .description {
    color: black;
    background-color: #ffcc00;
    padding: 10px;
    margin-bottom: 10px;
    width: 240px;
  }
  
  .design .description {
    width: 170px;
  }
  
  .marketing .description {
    width: 200px;
  }
  
  .additional-info {
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .date {
    font-weight: bold;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .red-button {
    background-color: #ff0000;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .filters {
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: row;
    flex-basis: 33.33%;
    justify-content: space-around;
    align-items: center;
  }
  
  .filters a {
    text-decoration: none;
  }
  
  input[type=checkbox] {
    background-color: transparent;
    color: transparent;
    border-radius: 50%;
    border: 1px solid transparent;
    position: relative;
    display: block;
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
    position: relative;
    outline: none;
    cursor: pointer;
  }
  
  .fas {
    font-size: 1.6rem;
  }
  
  input[type=checkbox]:checked {
    display: block;
    font-weight: 600;
    color: white;
  }
  
  .font {
    padding: 6px;
  }
  
  .changecolor {
    padding: 0;
    margin: 0;
    height: 120px;
    background-color: rgb(43, 43, 46);
    color: white;
    font-size: 1.2rem;
    display: flex;
    border-right: 1px solid gray;
    flex-direction: row;
    flex-basis: 34%;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  .changecolor:last-child {
    border: 0;
  }
  
  .changecolor.checked {
    background-color: red;
    color: black;
    border: 0;
  }
  .changecolor.checked input[type=checkbox] {
    color: black;
    padding-right: 20px;
  }

  @media (max-width: 800px) {
    .filters{
      justify-content: space-evenly;
    }

    .container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content:space-around;
      padding-top: 30px;
      min-height: 100vh;
    }

    .card {
      width: 45%;
      
    }
  }
  
  @media (max-width: 500px) {
    .filters {
      flex-basis: 100%;
      flex-direction: column;
      width: 100%;
    }
    .changecolor {
      width: 100%;
      border-bottom: 1px solid gray;
    }


    .card {
      width: 100%;
      
    }
    
  }/*# sourceMappingURL=new.css.map */