body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(250, 212, 41);
  color: black;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.705);
}

nav img {
  width: 50px;
  height: auto;
  padding-left: 5px;
}

.logo-text {
  font-size: 0.5em;
  color: black;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
  padding: 20px;
  line-height: 35px;
}

nav a {
  text-decoration: none;
  color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
}

svg * {
  fill: black;
}

.button {
  background-color: red;
  color: white;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0px;
}

.buttonred {
  background-color: red;
}

.logo-align {
  text-align: center;
}

.vraboti-item {
  display: block;
}

.none {
  display: none;
}

nav a:nth-child(2) {
  display: none;
  padding: 5px;
  justify-content: end;
}

.btn {
  margin-top: -7px;
}

p {
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p i {
  color: black;
}

.footer {
  bottom: 0;
  height: 7vh;
  line-height: 4vh;
  width: 100%;
  color: white;
  background-color: rgb(59, 59, 59);
  text-align: center;
}
.footer h3 {
  line-height: 7vh;
}

@media (max-width: 1419px) {
  .button {
    padding: 7px 6px;
  }
  nav ul {
    font-size: 0.8rem;
  }
}
@media (max-width: 1200px) {
  nav {
    font-size: 0.7rem;
  }
  .vraboti-item {
    margin: 0;
    margin-right: -5px;
    padding: 20px 10px;
  }
  nav img {
    margin-left: -5px;
  }
  nav ul li {
    padding: 0;
  }
  nav ul li:first-child {
    padding-left: 20px;
  }
  nav ul li b {
    line-height: 70px;
  }
  .button {
    background-color: red;
    color: white;
    padding: 3px 9px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0px;
  }
}
@media (max-width: 990px) {
  nav ul {
    font-size: 0.7rem;
  }
}
@media (max-width: 770px) {
  nav {
    width: 100%;
    font-size: 0.54rem;
  }
  .vraboti-item {
    margin: 0;
    padding: 20px 5px;
  }
  nav img {
    margin-left: -30px;
  }
  nav span {
    margin-left: -19px;
  }
  nav ul li {
    padding: 0;
  }
  nav ul li:first-child {
    padding-left: 20px;
  }
  nav ul li b {
    line-height: 70px;
  }
  .button {
    background-color: red;
    color: white;
    font-size: 0.6rem;
    padding: 0px 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0px;
  }
  .footer {
    height: 70px;
  }
  .footer h3 {
    line-height: 70px;
  }
}
@media (max-width: 880px) {
  nav ul li {
    font-size: 0.6rem;
  }
}
@media (max-width: 789px) {
  nav ul li {
    font-size: 0.425rem;
  }
}
@media (max-width: 589px) {
  nav ul li {
    font-size: 0.33rem;
  }
}
@media (max-width: 725px) {
  nav ul li {
    margin-right: 10px;
  }
}
@media (max-width: 500px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    color: white;
    background-color: rgb(48, 47, 47);
    z-index: 1;
  }
  nav ul a {
    color: white;
  }
  nav ul li {
    text-align: left;
    font-size: 0.8rem;
    margin-left: 20px;
    margin-top: 0px;
    color: white;
    padding: 2px;
  }
  nav ul li:first-child {
    padding-top: 80px;
  }
  .hamburger {
    display: block;
  }
  nav ul.show {
    display: flex;
    color: white;
  }
  svg * {
    fill: black;
  }
  .none {
    display: flex;
    justify-content: end;
    padding: 8px;
  }
  .none i {
    color: white;
    font-size: 1.1rem;
    padding: 4px;
  }
  .button {
    margin-left: 10px;
    font-size: 0.9rem;
    padding: 5px 12px;
  }
  .col-12 .mid {
    margin-top: 500px;
  }
  .contain {
    min-height: 140vh;
  }
  .padd {
    padding-top: 210px;
  }
  .footer {
    height: 9vh;
    bottom: 0;
  }
  .footer h3 {
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 8vh;
  }
}
.centered {
  text-align: center;
}

.banner {
  height: calc(100vh - 105px);
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.151)), url(../img/123.jpg);
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  color: white;
  font-size: 5rem;
  transition: color 0.5s, -webkit-text-decoration 0.5s;
  transition: color 0.5s, text-decoration 0.5s;
  transition: color 0.5s, text-decoration 0.5s, -webkit-text-decoration 0.5s;
}
.banner h1:hover {
  color: rgb(241, 200, 13);
}/*# sourceMappingURL=styles.css.map */